.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 232, 240);
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 10px;
}

.header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  margin-block: 1rem;
}

.new-todo {
  display: flex;
  background-color: rgb(207, 232, 240);;
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
}

.new-todo:hover {
  background-color: lightgray;
}

.view {
  background-color: rgb(243, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 2s;
}

.view label {
  width: 20rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.toggle {
  margin-right: 1rem;
  cursor: pointer;
}

.destroy {
  margin: 1rem;
  border-radius: 5px;
}

.destroy:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}
.edit-task {
  background-color: transparent;
  border: none;
  font-style: italic;
  border-bottom: 1px solid lightgray;
}



.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10rem;
  margin-right: 10rem;
}